@import '../varibale/_theme.scss';

// ⭐动态改变颜色

// layout全局背景颜色
@mixin layout_bg_color() {
  transition: all 0.5s ease-in-out !important;
  [data-theme="theme-sun"] & {
    background-color:$layout-bg-sun;
  }
  [data-theme="theme-night"] & {
    background-color:$layout-bg-night;
  }
}

// // 主体各模块背景色
// @mixin module_bg_color($color) {
//   transition: all 0.5s ease-in-out !important;
//   background-color:$color;
//   [data-theme="theme-sun"] & {
//     background-color:$module-color-sun;
//   }
//   [data-theme="theme-night"] & {
//     background-color:$module-color-night;
//   }
// }

// // 鼠标hover显示按钮和echarts导航栏
// @mixin btn_nav_bg_color($bg, $line) {
//   transition: all 0.5s ease-in-out !important;
//   background-color: $bg;
//   border-color: $line;
//   [data-theme="theme-sun"] & {
//     background-color:$bg-grey-sun;
//     border-color: $line-grey-sun;
//   }
//   [data-theme="theme-night"] & {
//     background-color:$bg-grey-night;
//     border-color: $line-greyDark-night;
//   }
// }

// // 灰度的图标和字体颜色
// @mixin font_icon_color_grey($color) {
//   transition: all 0.5s ease-in-out !important;
//   color:$color;
//   [data-theme="theme-sun"] & {
//     color:$font-grey-sun;
//   }
//   [data-theme="theme-night"] & {
//     color:$font-grey-night;
//   }
// }

// 黑色的图标和字体颜色
@mixin font_icon_color_black() {
  transition: all 0.5s ease-in-out !important;
  [data-theme="theme-sun"] & {
    color:$font-black-sun;
  }
  [data-theme="theme-night"] & {
    color:$font-white-night;
  }
}

// // 主题色图标按钮文字
// @mixin icon_color_primary($color) {
//   transition: all 0.5s ease-in-out !important;
//   color:$color;
//   [data-theme="theme-sun"] & {
//     color:$primary;
//   }
//   [data-theme="theme-night"] & {
//     color:$primary-light1;
//   }
// }

// // 树背景色（focus时）
// @mixin tree_bg_color_focus($color) {
//   background-color:$color;
//   [data-theme="theme-sun"] & {
//     background-color: $primary;
//   }
//   [data-theme="theme-night"] & {
//     background-color: #C23A41;
//   }
// }

// // 表格背景色（hover时）
// @mixin table_bg_color_hover($color) {
//   background-color:$color;
//   [data-theme="theme-sun"] & {
//     background-color: #F5F7FA;
//   }
//   [data-theme="theme-night"] & {
//     background-color: #4b4c4d;
//   }
// }

// // 表格边框颜色变化
// @mixin table_border_color($color) {
//   transition: all 0.5s ease-in-out !important;
//   border-color: $color;
//   [data-theme="theme-sun"] & {
//      border-color: $line-blue-sun;
//   }
//   [data-theme="theme-night"] & {
//     border-color: $line-blue-night;
//   }
// }

// // 滚动条颜色hover变化
// @mixin scroll_bg_color_hover($color) {
//   background-color:$color;
//   [data-theme="theme-sun"] & {
//     background-color: #44434333;
//   }
//   [data-theme="theme-night"] & {
//     background-color: #92919133;
//   }
// }

// // 文字图标disable时的变化
// @mixin font_icon_color_disable($color) {
//   transition: all 0.5s ease-in-out !important;
//   color:$color;
//   [data-theme="theme-sun"] & {
//     color: #C0C4CC;
//   }
//   [data-theme="theme-night"] & {
//     color: #6d6e6f;
//   }
// }

// // loading遮罩层背景颜色
// @mixin loading_mask_bg_color($color) {
//   transition: all 0.5s ease-in-out !important;
//   background-color:$color;
//   [data-theme="theme-sun"] & {
//     background-color: rgba(255, 255, 255, 0.9);
//   }
//   [data-theme="theme-night"] & {
//     background-color: rgba(94, 94, 94, 0.9);
//   }
// }

// // scroll在ie浏览器中夜间模式时的样式
// @mixin  scroll_night {
//   [data-theme="theme-night"] & {
//     scrollbar-arrow-color: #444444; /**//*三角箭头的颜色*/
//     scrollbar-face-color: #333333; /**//*立体滚动条的颜色*/ 
//     scrollbar-shadow-color: #444444; /**//*立体滚动条阴影的颜色*/ 
//     scrollbar-track-color: #444444; /**//*立体滚动条背景颜色*/ 
//   }
// }



