// 颜色，字体，背景的配置文件

// /* ⭐主题色相关 */
// $primary: #c30d16;              // S93：原始主题色，用于日间模式
// $primary-light1: #e62e37;       // S80：用于夜间模式的主题色图标
// $primary-light2: #c23a41;       // S70：用于夜间模式的主题色背景


/* ⭐背景颜色 */

// layout背景颜色
$layout-bg-sun: #f5f7f9;
$layout-bg-night: #333232;

// // 主体各模块背景色
// $module-color-sun: #ffffff;
// $module-color-night: #474545;

// // 组件背景色
// $bg-grey-sun: #fafafa;    // B98：用于导航栏背景色，表格背景色
// $bg-grey-night: #404040;  // B25：用于导航栏背景色，表格背景色

// // 线框颜色
// $line-grey-sun: #eeeeee;         // B93：按钮线框，各模块分割线
// $line-greyLight-night: #595959;  // B35：按钮线框，各模块分割线（浅色）
// $line-greyDark-night: #3b3b3b;   // B23：按钮线框，各模块分割线（深色）
// $line-blue-sun: #eeeeee;    // 数据表格线框
// // $line-blue-sun: #e1e3e5;    // 数据表格线框
// $line-blue-night: #575859;  // 数据表格线框

// // 文字和图标颜色（灰度）
// $font-grey-sun: #666666;    // B40
// $font-grey-night: #e5e5e5;  // B90
$font-black-sun: #333333;   // B20
$font-white-night: #f2f2f2; // B95













 

// 字体颜色
$font-color-sun : #333333;    // 字体主题颜色（日间）
$font-color-night : #ffffff;  // 字体主题颜色（夜晚）

$font-color-theme1 : red;//字体主题颜色1
$font-color-theme2 : #652BF5;//字体主题颜色2
$font-color-theme3 : deepskyblue;//字体主题颜色3
$font-color-themesec : #edc148;//字体次要主题颜色
 
// 字体阴影色
$font-color-shallow0 : #000;
$font-color-shallow1 : #111;
$font-color-shallow2 : #222;
$font-color-shallow3 : #333;
$font-color-shallow4 : #444;
$font-color-shallow5 : #555;
$font-color-shallow6 : #666;
$font-color-shallow7 : #777;
$font-color-shallow8 : #888;
$font-color-shallow9 : #999;
$font-color-shallowdb : #dbdbdb;
 
//字体大小规范
$font_little_s:10px;
$font_little:12px;
$font_medium_s:14px;
$font_medium:16px;
$font_large_s:18px;
$font_large:20px;
 
// 灰度（按16进制）
$color-0: #000000; // B0
$color-1: #111111; // B7
$color-2: #222222; // B13
$color-3: #333333; // B20
$color-4: #444444; // B27
$color-5: #555555; // B33
$color-6: #666666; // B40
$color-7: #777777; // B47
$color-8: #888888; // B53
$color-9: #999999; // B60
$color-a: #aaaaaa; // B67
$color-b: #bbbbbb; // B73
$color-c: #cccccc; // B80
$color-d: #dddddd; // B87
$color-e: #eeeeee; // B93
$color-f: #ffffff; // B100
// 按明度
$b-0: #000000;
$b-7: #111111;
$b-13: #222222;
$b-20: #333333;
$b-27: #444444;
$b-33: #555555;
$b-40: #666666;
$b-47: #777777;
$b-53: #888888;
$b-60: #999999;
$b-67: #aaaaaa;
$b-73: #bbbbbb;
$b-80: #cccccc;
$b-87: #dddddd;
$b-91: #eeeeee;
$b-100: #ffffff;
